body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header, 
main {
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
    margin-top: 20px;
}
main {
    margin-top: 100px;
}

img {
    float: left;
    height: 40px;
}
nav {
    float: right;
    margin-top: 13px;
}
nav > a {
    display: inline-block;
    font-size: 18px;
    line-height: 1.08em;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    padding-bottom: 2px;
}
nav > a:hover {
    border-bottom: 2px solid orangered;
}
nav > a:first-child {
    border-bottom: 2px solid orangered;
}
body > main {
    margin-top: 100px;
}
main > div {
 width: 45%;
 float: left;
 padding-right: 10%;
}
main > img {
    width: 55%;
    height: 380px;
    object-fit: contain;
    object-position: center;
}
div > h1 {
    font-weight: normal;
    font-family: cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-bottom: 10px;
}

div > p {
    margin-bottom: 25px;
}
div > a {
    padding: 10px 25px;
    background-color: orangered;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
span {
    color: orangered;
}